.player-card {
    padding: 20px;
    background: #e70707;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
  }
  
  .player-avatar {
    width: 150px;
    border-radius: 50%;
  }
  
  .player-details, .additional-info, .combat-stats {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #2c3e50;
  }
  
  .combat-bars {
    display: flex;
    justify-content: space-between;
  }
  
  .combat-bar {
    width: 23%;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .winrate-kd {
    margin-top: 10px;
  }
  
  .battle-breakdown {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .win, .draw, .loss {
    width: 30%;
  }
  
  .green-bar {
    background: green;
    height: 10px;
  }
  
  .yellow-bar {
    background: yellow;
    height: 10px;
  }
  
  .red-bar {
    background: red;
    height: 10px;
  }
  
  .historical-data {
    margin-top: 30px;
  }
  
  .graph-placeholder {
    height: 200px;
    background: #bdc3c7;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
  }
  